<p id="notice"><%= notice %></p>

<h1>Auctionables</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Base price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auctionables.each do |auctionable| %>
      <tr>
        <%#= auctionable.bid_events.closed.inspect %>
        <% if auctionable.bid_events.closed.blank? %>
        <td> <%= link_to 'Play', auctionable, {class: 'btn btn-block btn-success'} %> </td>
        <% else %>
        <td> <%= link_to 'View', auctionable, {class: 'btn btn-block btn-info'} %> </td>
        <% end %>
        <td><%= auctionable.name %></td>
        <td><%= auctionable.description[0..30].gsub(/\s\w+\s*$/, '...') %></td>
        <td><%= image_tag(auctionable.image_url, {height: 32}) %></td>
        <td><%= auctionable.base_price %></td>
        <td><%= link_to 'Edit', edit_auctionable_path(auctionable) %></td>
        <td><%= link_to 'Destroy', auctionable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auctionable', new_auctionable_path %> | 
<%= link_to 'Bulk Upload', bulk_new_auctionables_path %>
