<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @auctionable.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @auctionable.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @auctionable.image_url %>
</p>

<p>
  <strong>Base price:</strong>
  <%= @auctionable.base_price %>
</p>

<%= link_to 'Edit', edit_auctionable_path(@auctionable) %> |
<%= link_to 'Back', auctionables_path %>
