<div class="container">
  <br/>
  <% open = @auctionable.bid_events.closed.blank? %>
  

  <div class="row">
    
<% unless @bidding.eql? 'yes' %>
<div class="col-sm-12">
  <center><h1><%= image_tag(@auctionable.image_url, {height: 70}) %></h1></center>
<p style="padding: 1.2em;text-align: justify;color: #555; font: 18px/1.5 'source serif pro', georgia, serif;" class="card card-2">
   <span class="highlight">Name : <%= @auctionable.name %></span>
   <span class="highlight">Current Bid : <%= @bid_amount %></span>
   <span class="highlight pull-right"><%= link_to 'Start Bidding', "#{request.fullpath}?bidding=yes", {class:'btn btn-info'}%></span><br/><br/><br/><br/>
  <%= @auctionable.description.gsub("\n",'<br/>').html_safe %>
</p>
</div>
<% else %>
  <div class="col-sm-4">
    <center><h1><%= image_tag(@auctionable.image_url, {height: 70}) %></h1></center>
    <div class="card card-1" style="padding: 12px;">
      Current Bid for <span class="highlight"><%= @auctionable.name %></span><br/>

      <div style="padding: 10px; margin:25px; font-size: 12em; color: #444"><%= @bid_amount %></div>
      Highest Bidder - <span class="highlight"><%= @auctionable.bid_events.last.try(:participant).try(:name) %></span>
    </div>
  </div>
   <div class="col-sm-8"> 
    <div style="padding: 12px;">

      <!-- form -->
<% if open %>
<%= bootstrap_form_for(@bid_event, layout: :inline) do |f| %>
    <%= f.hidden_field :auctionable_id, value: @auctionable.id %>
    <%= f.hidden_field :final, value: false %>
    <%= f.select :participant_id, Participant.all.collect { |p| [ p.name, p.id ] }, include_blank: "Select a participant", hide_label: true%>
    <%= f.number_field :amount, value:  @bid_amount + AuctionConfiguration.first.bid_increment_value, hide_label: true %>
    <%= f.submit 'Bid', class: 'btn-success btn' %>
      

<% end %>
      <!-- all bids -->
      <% @auctionable.bid_events.each do |bid_event| %>
        <div class="card card-3" style="display: block;padding: 10px;"> <span class="highlight"><%= bid_event.participant.name %></span> made a bid worth <span class="highlight"><%= bid_event.amount %> units</span> </div>
        <% end %>
        <%= link_to 'Close Bidding', close_bidding_auctionable_url(@auctionable.id), {disabled: !open, class:'btn btn-danger', data: { confirm: 'Are you sure?' } } %>
<% else %>
      <!-- all bids -->
      <% @auctionable.bid_events.each do |bid_event| %>
        <div class="card card-3" style="display: block;padding: 10px;"> <span class="highlight"><%= bid_event.participant.name %></span> made a bid worth <span class="highlight"><%= bid_event.amount %> units</span></div>
        <% end %>
  <em> Bid won by <%= @auctionable.bid_events.closed.first.participant.name %> </em>
<% end %>


<% end %>
  </div>
  </div>
</div>


<style>
body {
  background: #e2e1e0;
  text-align: center;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
}
.highlight {
  background: #e2e1e0;
  padding: 5px;
  color: #666;
  border-radius: 3px;
  margin: 6px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

</style>
