<div class="container">
  <% open = @auctionable.bid_events.closed.blank? %>
  <h1><%= image_tag(@auctionable.image_url, {height: 70}) %> <%= @auctionable.name %></h1>
  <%= link_to 'Close Bidding', close_bidding_auctionable_url(@auctionable.id), {disabled: !open, class:'btn btn-danger'} %>
  <div class="row">
    <div class="col-sm-6" style="background-color:yellow;">

<p>
  <%= @auctionable.description %>
</p>

    </div>
    <div class="col-sm-6" style="background-color:pink;">
      <%= @bid_amount %>

      <!-- all bids -->
      <% @auctionable.bid_events.each do |bid_event| %>
        <li> <%= bid_event.participant.name %> bid <%= bid_event.amount %> </li>
        <% end %>
      <!-- form -->
<% if open %>
<%= bootstrap_form_for(@bid_event) do |f| %>
    <%= f.hidden_field :auctionable_id, value: @auctionable.id %>
    <%= f.hidden_field :final, value: false %>
  <div class="field">
    <%= f.select :participant_id, Participant.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
  </div>

  <div class="field">
    <%= f.number_field :amount, value:  @bid_amount + AuctionConfiguration.first.bid_increment_value %>
  </div>

  <div class="actions">
    <%= f.submit 'Bid' %>
  </div>
<% end %>
<% else %>
  <em> Bid won by <%= @auctionable.bid_events.closed.first.participant.name %> </em>
<% end %>

    </div>
  </div>
</div>



